@import url(//db.onlinewebfonts.com/c/9e00143409affcb46a1ae58634aa64be?family=Sofia+Pro);

* { margin: 0; padding: 0; }

body {
	font-family: "Sofia Pro";
	background-color: rgb(26, 26, 26);
	color: white;
}

h1 {
	text-align: center;
	padding: 40px;
	font-weight: 300;
	font-size: 40px;
}

.gray-container {
	width: 100%;
	background-color: rgb(40, 40, 40);
	padding: 15px 0 15px 0;
}

.count {
	display: grid;
	grid-template-columns: repeat(4, 150px);
	justify-content: center;
}

.count > .card-number {
	background-color: rgb(249, 249, 249);
	width: 140px;
	height: 140px;
	color: rgb(26, 26, 26);

	display: grid;
	grid-template-rows: 105px 35px;
	align-items: center;
	justify-content: center;

	border-radius: 7px;
	text-align: center;
}

.count > .card-number > h1 {
	font-weight: 200;
	font-size: 65px;
}

.recommendations {
	width: 55%;
	margin: 0 auto;
	padding: 40px;
}

.recommendations > h1 {
	text-align: left;
	padding: 0;
	font-size: 28px;
	padding-bottom: 30px;
}
.recommendations > ul {
	 list-style-type: none;
}

.visitCounter {
	padding: 25px;
	background-color: black;
	width: 15px;
	height: 15px;
	border-radius: 35px;
	position: fixed;
	z-index: 9;
	bottom: 20px;
	right: 20px;
}

.covid-19-img {
	padding: 20px;
	width: 550px;
	margin: 0 auto;
}

.share {
  width: 45px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.share > ul {
  width: 40px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.share > ul > li > a {  
  color: inherit;
  text-decoration: inherit;
}

.share > ul > li > i {
  margin: 2px 0 2px 0;
  width: 30px;
  height: 30px;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
  color: white;
  
  cursor: pointer;
}

.share > ul > li > .fa-whatsapp {
  background-color: #25d366; 
  padding: 5px;
}

.share > ul > li > .fa-facebook {
  background-color: #4267B2; 
  padding: 5px;
}

.share > ul > li > .fa-facebook-messenger {
  background-color: #0078FF; 
  padding: 5px;
}

.visit-counter {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.visit-counter > img {
  margin: 5px;
  padding: 5px;
  height: 11px;
  background-color: black;
  border-radius: 4px;
}

.visit-counter:before {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
  position: absolute;
}